<div class="beers">
    <img class="beers-image" src="{{image_url}}" alt="">
        <h5 class="beer-name">{{name}}</h5>
        <h6 class="tagline">{{tagline}}</h6>
        <p class="description">{{description}}</p>
    </div>