<div class="index-container">
  <img class="home-img" src="/images/beer.png" alt="beer">
  <div class="buttons">
  <button class="beerbutton">Check the Beers!</button>
  <button class="randombeerbutton">Check a Random Beer!</button>
  </div>
</div>